<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Sample Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1><span th:text="${message}"></span></h1>
	<div>
    	Please Authorization
	</div>
	<p>Now: <span th:text="${now}"></span></p>
	<br />
	<form method="post" action="hello">
		<span>name: </span>
		<input type="text" name="name" value="" />
		<br />
		<span>password: </span>
		<input type="password" name="password" value="" />
		<br />
		<input type="submit" value="login" />
	</form>
	
	<div>
    	if your first visit,please create your account
	</div>
	<form method="get" action="createAccount">
		<input type="submit" value="create my account" />
	</form>
	
</body>
</html>